/* 定义项目的公共颜色 */
/* placeholder */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #9c9c9c;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9c9c9c;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9c9c9c;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9c9c9c;
}
/* 定义字体大小 */
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.fb {
  font-weight: bold;
}
.red {
  color: #ff001e;
}
.green {
  color: rgba(98, 0, 255, 0.233);
}
.grey {
  color: #9c9c9c;
}
.gray {
  color: #ebebeb;
}
.orange {
  color: #ff9d12;
}
/* 行高 */
.line-20 {
  line-height: 20px;
}
.line-25 {
  line-height: 25px;
}
.line-30 {
  line-height: 30px;
}
.line-40 {
  line-height: 40px;
}
.line-50 {
  line-height: 50px;
}
.line-60 {
  line-height: 60px;
}
/* 超出省略号 */
.textwp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 居中 */
.center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
/* 去掉边框 */
.no-border {
  border: none;
}
/* 公共样式 */
body {
  background-color: #f4f4f4;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
/* 定义可视区域 */
.wp {
  width: 1200px;
  margin: 0 auto;
}
/* 定义圆角 */
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: rgba(98, 0, 255, 0.233);
}
label {
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  top: 2px;
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #888686;
  border-radius: 2px;
  cursor: pointer;
}
input[type="checkbox"]:checked::after {
  content: '✔';
  position: absolute;
  left: 2px;
  top: -2px;
  color: rgba(98, 0, 255, 0.233);
}
