/* 定义项目的公共颜色 */
/* 定义字体大小 */
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.fb {
  font-weight: bold;
}
/* 公共样式 */
body {
  background-color: #f4f4f4;
  font-size: 14px;
  margin-bottom: 100px;
}
/* 定义可视区域 */
.wp {
  width: 1200px;
  margin: 0 auto;
}
/* 超出省略号 */
.textwp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 定义圆角 */
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #2bb404;
}
