@charset 'utf-8';
/* 定义项目的公共颜色 */
/* placeholder */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #9c9c9c;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9c9c9c;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9c9c9c;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9c9c9c;
}
/* 定义字体大小 */
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f24 {
  font-size: 24px;
}
.fb {
  font-weight: bold;
}
.red {
  color: #ff001e;
}
.green {
  color: rgba(98, 0, 255, 0.233);
}
.grey {
  color: #9c9c9c;
}
.gray {
  color: #ebebeb;
}
.orange {
  color: #ff9d12;
}
/* 行高 */
.line-20 {
  line-height: 20px;
}
.line-25 {
  line-height: 25px;
}
.line-30 {
  line-height: 30px;
}
.line-40 {
  line-height: 40px;
}
.line-50 {
  line-height: 50px;
}
.line-60 {
  line-height: 60px;
}
/* 超出省略号 */
.textwp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 居中 */
.center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
/* 去掉边框 */
.no-border {
  border: none;
}
/* 公共样式 */
body {
  background-color: #f4f4f4;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
/* 定义可视区域 */
.wp {
  width: 1200px;
  margin: 0 auto;
}
/* 定义圆角 */
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: rgba(98, 0, 255, 0.233);
}
label {
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  top: 2px;
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #888686;
  border-radius: 2px;
  cursor: pointer;
}
input[type="checkbox"]:checked::after {
  content: '✔';
  position: absolute;
  left: 2px;
  top: -2px;
  color: rgba(98, 0, 255, 0.233);
}
/* 公共头部 */
.top-bar {
  line-height: 37px;
  color: #9c9c9c;
}
.top-bar .nav li {
  float: left;
  height: 17px;
  line-height: 17px;
  margin: 10px 0;
  padding: 0 10px;
}
.top-bar .nav li:not(:first-child) {
  border-left: 1px solid #9c9c9c;
}
.search-bar {
  background-color: #fff;
  line-height: 106px;
}
.search-bar .logo {
  margin: 20px 0;
}
.search-bar .search-box {
  height: 46px;
  line-height: 46px;
  margin: 30px 0 30px 154px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.search-bar .search-box input {
  font-size: 16px;
  width: 346px;
  height: 100%;
  border: 2px solid rgba(98, 0, 255, 0.233);
  padding: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.search-bar .search-box a {
  display: block;
  background-color: rgba(98, 0, 255, 0.233);
  color: #fff;
  font-size: 23px;
  padding: 0 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.search-bar .login-box {
  font-size: 16px;
}
.search-bar .login-box > * {
  margin: 0 4px;
}
.search-bar .login-box .iconfont {
  color: rgba(98, 0, 255, 0.233);
  font-size: 24px;
  position: relative;
  top: 2px;
}
.search-bar .login-box .login {
  border: 1px solid rgba(98, 0, 255, 0.233);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: rgba(98, 0, 255, 0.233);
  padding: 2px 16px;
  margin: 0 4px;
}
.nav-bar {
  line-height: 46px;
  background-color: rgba(98, 0, 255, 0.233);
}
.nav-bar li {
  float: left;
  padding: 0 20px;
  color: #fff;
}
.nav-bar li a:hover {
  color: inherit;
}
/* 部分内容 */
.main-section .top-nav {
  padding: 0 6px;
  border-bottom: 2px solid rgba(98, 0, 255, 0.233);
}
.main-section .top-nav li {
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 60px;
  margin-right: 30px;
}
.main-section .top-nav li.active {
  color: rgba(98, 0, 255, 0.233);
}
.main-section .top-nav li.active::after {
  content: '▲';
  position: absolute;
  bottom: -23px;
  left: 50%;
  margin-left: -8.9px;
}
.main-section .nav-box {
  background-color: #fff;
  border: 1px solid #ededed;
  border-bottom: none;
}
.main-section .nav-box .nav-box-list {
  padding: 10px 20px;
  line-height: 30px;
  border-bottom: 1px solid #ededed;
}
.main-section .nav-box .nav-box-list .nav-list-bar {
  width: 60px;
  text-align-last: justify;
  margin-right: 20px;
}
.main-section .nav-box .nav-box-list .nav-list-bar + ul {
  margin-left: 80px;
}
.main-section .nav-box .nav-box-list li {
  float: left;
  color: #9c9c9c;
  margin-right: 20px;
}
/* 公共底部 */
footer {
  width: 100%;
  height: 546px;
  margin-top: 60px;
  border-top: 1px solid #ededed;
  background-color: #fff;
}
footer .slogan {
  height: 175px;
  padding: 32px;
  border-bottom: 1px solid #ededed;
}
footer .slogan li {
  float: left;
  width: 25%;
}
footer .slogan li h2 {
  font-size: 60px;
  color: rgba(98, 0, 255, 0.233);
  font-weight: 100;
}
footer .slogan li .des {
  font-size: 18px;
  color: #9c9c9c;
  line-height: 40px;
  letter-spacing: 0.2em;
}
footer .about {
  padding-top: 30px;
  color: #9c9c9c;
}
footer .about dl {
  width: 18%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
footer .about dl dt {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
footer .about .contract dt {
  font-size: 22px;
}
footer .about .contract .contract-button {
  background-color: rgba(98, 0, 255, 0.233);
  color: #fff;
  padding: 4px 8px;
}
/* 登录注册等 */
#login,
#register,
#getPassword,
#getPasswordSuccess {
  width: 479px;
  margin: 50px auto;
  padding: 0 35px;
  background-color: #fff;
}
#login .top span,
#register .top span,
#getPassword .top span,
#getPasswordSuccess .top span {
  line-height: 66px;
  font-size: 23px;
  color: #666;
}
#login form,
#register form,
#getPassword form,
#getPasswordSuccess form {
  color: #9c9c9c;
}
#login form input[type="text"],
#register form input[type="text"],
#getPassword form input[type="text"],
#getPasswordSuccess form input[type="text"] {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ededed;
  margin: 10px auto;
  padding-left: 20px;
}
#login form .login-btn,
#register form .login-btn,
#getPassword form .login-btn,
#getPasswordSuccess form .login-btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(98, 0, 255, 0.233);
  color: #fff;
  font-size: 22px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 20px 0;
}
#login form .code input[type="text"],
#register form .code input[type="text"],
#getPassword form .code input[type="text"],
#getPasswordSuccess form .code input[type="text"] {
  width: 42%;
}
#login form .code input[type="button"],
#register form .code input[type="button"],
#getPassword form .code input[type="button"],
#getPasswordSuccess form .code input[type="button"] {
  display: block;
  width: 52%;
  height: 60px;
  margin: 10px auto;
  border: 1px solid rgba(98, 0, 255, 0.233);
  background: none;
  color: rgba(98, 0, 255, 0.233);
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#login form .icon-ok,
#register form .icon-ok,
#getPassword form .icon-ok,
#getPasswordSuccess form .icon-ok {
  font-size: 48px;
  line-height: 80px;
  color: rgba(98, 0, 255, 0.233);
}
#login .login-by-phone,
#register .login-by-phone,
#getPassword .login-by-phone,
#getPasswordSuccess .login-by-phone {
  position: relative;
}
#login .login-by-phone input[type="button"],
#register .login-by-phone input[type="button"],
#getPassword .login-by-phone input[type="button"],
#getPasswordSuccess .login-by-phone input[type="button"] {
  position: absolute;
  top: 32px;
  right: 18px;
  border: none;
  background: none;
  color: rgba(98, 0, 255, 0.233);
  cursor: pointer;
}
#login .other-way,
#register .other-way,
#getPassword .other-way,
#getPasswordSuccess .other-way {
  margin: 30px 0;
}
#login .other-way a,
#register .other-way a,
#getPassword .other-way a,
#getPasswordSuccess .other-way a {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid rgba(98, 0, 255, 0.233);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#login .other-way a i,
#register .other-way a i,
#getPassword .other-way a i,
#getPasswordSuccess .other-way a i {
  font-size: 32px;
  color: rgba(98, 0, 255, 0.233);
}
#login .other-way a:hover,
#register .other-way a:hover,
#getPassword .other-way a:hover,
#getPasswordSuccess .other-way a:hover {
  border-color: #fff;
  background-color: rgba(98, 0, 255, 0.233);
}
#login .other-way a:hover i,
#register .other-way a:hover i,
#getPassword .other-way a:hover i,
#getPasswordSuccess .other-way a:hover i {
  color: #fff;
}
#login .other-way a.wechat,
#register .other-way a.wechat,
#getPassword .other-way a.wechat,
#getPasswordSuccess .other-way a.wechat {
  border-color: #00a0e9;
}
#login .other-way a.wechat i,
#register .other-way a.wechat i,
#getPassword .other-way a.wechat i,
#getPasswordSuccess .other-way a.wechat i {
  color: #00a0e9;
}
#login .other-way a.wechat:hover,
#register .other-way a.wechat:hover,
#getPassword .other-way a.wechat:hover,
#getPasswordSuccess .other-way a.wechat:hover {
  border-color: #fff;
  background-color: #00a0e9;
}
#login .other-way a.wechat:hover i,
#register .other-way a.wechat:hover i,
#getPassword .other-way a.wechat:hover i,
#getPasswordSuccess .other-way a.wechat:hover i {
  color: #fff;
}
.advertisement {
  margin: 20px auto;
}
.advertisement .ad-left {
  width: 721px;
  height: 320px;
  border: 4px solid rgba(98, 0, 255, 0.233);
}
.advertisement .ad-bottom {
  margin: 20px 0;
}
.advertisement .search-tabs .nav-list {
  width: 176px;
  height: 78px;
  padding: 18px;
  background-color: rgba(98, 0, 255, 0.233);
  color: #fff;
}
.advertisement .search-tabs .nav-list:not(:last-child) {
  border-bottom: 1px solid #9c9c9c;
}
.advertisement .search-tabs .nav-list:hover,
.advertisement .search-tabs .nav-list.active {
  background-color: #fff;
  color: rgba(98, 0, 255, 0.233);
}
.advertisement .search-tabs .nav-list .nav-list-detail {
  float: left;
  line-height: 40px;
  margin-right: 10px;
}
.advertisement .search-detail {
  width: 537px;
  height: 100%;
  background-color: #fff;
  padding: 0 20px;
}
.advertisement .search-detail .blocks {
  padding: 10px 20px;
  border-bottom: 0.5px dashed rgba(98, 0, 255, 0.233);
}
.advertisement .search-detail .search-box {
  margin-top: 15px;
}
.advertisement .search-detail .search-box input {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 236px;
  height: 34px;
  padding: 10px;
  border: 1px solid #9c9c9c;
}
.advertisement .search-detail .search-box a {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 35px;
  background-color: rgba(98, 0, 255, 0.233);
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.advertisement .search-detail h2,
.advertisement .search-detail h4 {
  line-height: 40px;
}
.advertisement .search-detail .list {
  float: left;
  margin-right: 15px;
  line-height: 25px;
}
.advertisement .search-detail .steps {
  position: relative;
  width: 25%;
  float: left;
}
.advertisement .search-detail .steps .icon-box {
  width: 71px;
  height: 71px;
  margin: 0 auto;
  line-height: 71px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid rgba(98, 0, 255, 0.233);
  color: rgba(98, 0, 255, 0.233);
}
.advertisement .search-detail .steps .icon-box .iconfont {
  font-size: 28px;
}
.advertisement .search-detail .steps p {
  margin-top: 10px;
  text-align: center;
}
.advertisement .search-detail .steps:not(:last-child)::after {
  content: '>';
  position: absolute;
  top: 17px;
  right: -14px;
  font-size: 36px;
  font-weight: 100;
  color: #bbb;
}
.advertisement .search-detail .consult-box h2 {
  line-height: 60px;
}
.advertisement .search-detail .consult-box .tel {
  margin: 20px 0;
  line-height: 40px;
  border-bottom: 0.5px dashed rgba(98, 0, 255, 0.233);
}
.advertisement .search-detail .consult-box .tel .iconfont {
  font-size: 24px;
  color: rgba(98, 0, 255, 0.233);
  position: relative;
  top: 2px;
}
.advertisement .search-detail .consult-box .name {
  width: 94px;
  margin: 0 10px;
}
/* 主体内容区 */
.main-section .main-box {
  height: 524px;
  border: 1px solid #ededed;
  background-color: #fff;
}
.main-section .main-box .main-left {
  width: 216px;
  height: 100%;
  padding: 10px 0 20px;
  border-right: 1px solid #ededed;
}
.main-section .main-box .main-left p {
  padding: 10px;
  margin-bottom: 10px;
}
.main-section .main-box .main-left li {
  float: left;
  padding: 0 10px;
  margin: 10px 0;
}
.main-section .main-box .main-left li:not(:last-child) {
  border-right: 1px solid #9c9c9c;
}
.main-section .main-box .main-right {
  width: 982px;
  padding: 20px 20px 0 20px;
}
.main-section .main-box .main-right .city-tabs {
  margin-bottom: 20px;
}
.main-section .main-box .main-right .city-tabs li {
  float: left;
  margin-right: 20px;
  color: rgba(98, 0, 255, 0.233);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.main-section .main-box .main-right .city-tabs li a {
  display: inline-block;
  padding: 4px 10px;
}
.main-section .main-box .main-right .city-tabs li.active {
  background-color: rgba(98, 0, 255, 0.233);
  color: #fff;
}
.main-section .main-box .main-right .city-tabs li.active a:hover {
  color: inherit;
}
.main-section .main-box .main-right .city-tabs li.more {
  float: right;
}
.main-section .main-box .main-list .list-box {
  float: left;
  margin-bottom: 10px;
}
.main-section .main-box .main-list .list-box:not(:nth-child(4n)) {
  margin-right: 7px;
}
.main-section .main-box .main-list .list-box:hover {
  box-shadow: 0 2px 8px rgba(238, 136, 0, 0.3);
  transform: scale(1.01);
  transition: all 0.3s;
}
.main-section .main-box .main-list .list-box .des {
  border: 1px solid #e4e3e3;
  border-top: none;
  padding: 5px 10px;
  line-height: 31px;
}
.main-section .main-box .main-list .list-box img {
  width: 230px;
  height: 151px;
}
.main-section .main-box .main-list .list-box .star {
  color: #ff7800;
}
.main-section .main-box .main-list .ad-main {
  width: 712px;
}
.main-section .main-box .main-list .ad-main .list-box:not(:nth-child(3n)) {
  margin-right: 7px;
}
.main-section .main-box .main-list .person img {
  width: 230px;
  height: 230px;
}
.main-section .main-box .ads img {
  width: 228px;
  height: 435px;
}
.main-section .info-box {
  background-color: #fff;
  display: flex;
  height: 448px;
  padding: 20px 0;
  border: 1px solid #ededed;
}
.main-section .info-box .info-left {
  flex: 3;
  border-right: 1px dashed #9c9c9c;
  padding: 0 20px 0 20px;
}
.main-section .info-box .info-left .info-main img {
  width: 142px;
  height: 142px;
}
.main-section .info-box .info-left .info-main-box {
  width: 253px;
}
.main-section .info-box .info-left .info-list {
  margin-top: 20px;
}
.main-section .info-box .info-left .info-list li {
  position: relative;
  padding-left: 20px;
  line-height: 24px;
}
.main-section .info-box .info-left .info-list li a {
  display: inline-block;
  width: 300px;
}
.main-section .info-box .info-left .info-list li:before {
  content: '●';
  position: absolute;
  left: 0;
  color: #ebebeb;
}
.main-section .info-box .info-right {
  flex: 2;
  padding: 0 20px 0 20px;
}
.main-section .info-box .info-right .hot-article-list {
  width: 260px;
  line-height: 30px;
}
.main-section .info-box .info-right .category a.active {
  color: rgba(98, 0, 255, 0.233);
}
.main-section .brand-box {
  padding-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ededed;
}
.main-section .brand-box li {
  float: left;
  width: 11.1%;
  margin: 20px 0;
}
.main-section .brand-box li img {
  width: 109px;
  height: 83px;
  margin: 0 auto;
}
