@charset 'utf-8';
/* 定义项目的公共颜色 */
/* placeholder */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #9c9c9c;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #9c9c9c;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #9c9c9c;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9c9c9c;
}
/* 定义字体大小 */
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f24 {
  font-size: 24px;
}
.fb {
  font-weight: bold;
}
.red {
  color: #ff001e;
}
.green {
  color: #2bb404;
}
.grey {
  color: #9c9c9c;
}
.gray {
  color: #ebebeb;
}
.orange {
  color: #ff9d12;
}
/* 行高 */
.line-20 {
  line-height: 20px;
}
.line-25 {
  line-height: 25px;
}
.line-30 {
  line-height: 30px;
}
.line-40 {
  line-height: 40px;
}
.line-50 {
  line-height: 50px;
}
.line-60 {
  line-height: 60px;
}
/* 超出省略号 */
.textwp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 居中 */
.center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
/* 去掉边框 */
.no-border {
  border: none;
}
/* 公共样式 */
body {
  background-color: #f4f4f4;
  font-family: 'Microsoft YaHei';
  font-size: 14px;
}
/* 定义可视区域 */
.wp {
  width: 1200px;
  margin: 0 auto;
}
/* 定义圆角 */
/* 浮动 */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #2bb404;
}
label {
  cursor: pointer;
}
input[type="checkbox"] {
  position: relative;
  top: 2px;
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #888686;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 5px;
}
input[type="checkbox"]:checked {
  background-color: #2bb404;
  border-color: #2bb404;
}
input[type="checkbox"]:checked::after {
  content: '✔';
  position: absolute;
  left: 2px;
  top: -2px;
  color: #fff;
}
/* 公共头部 */
.top-bar {
  line-height: 37px;
  color: #9c9c9c;
}
.top-bar .nav li {
  float: left;
  height: 17px;
  line-height: 17px;
  margin: 10px 0;
  padding: 0 10px;
}
.top-bar .nav li:not(:first-child) {
  border-left: 1px solid #9c9c9c;
}
.search-bar {
  background-color: #fff;
  line-height: 106px;
}
.search-bar .logo {
  margin: 20px 0;
}
.search-bar .search-box {
  height: 46px;
  line-height: 46px;
  margin: 30px 0 30px 154px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.search-bar .search-box input {
  font-size: 16px;
  width: 346px;
  height: 100%;
  border: 2px solid #2bb404;
  padding: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.search-bar .search-box a {
  display: block;
  background-color: #2bb404;
  color: #fff;
  font-size: 23px;
  padding: 0 20px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.search-bar .login-box {
  font-size: 16px;
}
.search-bar .login-box > * {
  margin: 0 4px;
}
.search-bar .login-box .iconfont {
  color: #2bb404;
  font-size: 24px;
  position: relative;
  top: 2px;
}
.search-bar .login-box .login {
  border: 1px solid #2bb404;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #2bb404;
  padding: 2px 16px;
  margin: 0 4px;
}
.nav-bar {
  line-height: 46px;
  background-color: #2bb404;
}
.nav-bar li {
  float: left;
  padding: 0 20px;
  color: #fff;
}
.nav-bar li a:hover {
  color: inherit;
}
/* 部分内容 */
.main-section .top-nav {
  padding: 0 6px;
  border-bottom: 2px solid #2bb404;
}
.main-section .top-nav li {
  position: relative;
  float: left;
  font-size: 18px;
  line-height: 60px;
  margin-right: 30px;
}
.main-section .top-nav li.active {
  color: #2bb404;
}
.main-section .top-nav li.active::after {
  content: '▲';
  position: absolute;
  bottom: -23px;
  left: 50%;
  margin-left: -8.9px;
}
.main-section .nav-box {
  background-color: #fff;
  border: 1px solid #ededed;
  border-bottom: none;
}
.main-section .nav-box .nav-box-list {
  padding: 10px 20px;
  line-height: 30px;
  border-bottom: 1px solid #ededed;
}
.main-section .nav-box .nav-box-list .nav-list-bar {
  width: 60px;
  text-align-last: justify;
  margin-right: 20px;
}
.main-section .nav-box .nav-box-list .nav-list-bar + ul {
  margin-left: 80px;
}
.main-section .nav-box .nav-box-list li {
  float: left;
  color: #9c9c9c;
  margin-right: 20px;
}
/* 公共底部 */
footer {
  width: 100%;
  height: 546px;
  margin-top: 60px;
  border-top: 1px solid #ededed;
  background-color: #fff;
}
footer .slogan {
  height: 175px;
  padding: 32px;
  border-bottom: 1px solid #ededed;
}
footer .slogan li {
  float: left;
  width: 25%;
}
footer .slogan li h2 {
  font-size: 60px;
  color: #2bb404;
  font-weight: 100;
}
footer .slogan li .des {
  font-size: 18px;
  color: #9c9c9c;
  line-height: 40px;
  letter-spacing: 0.2em;
}
footer .about {
  padding-top: 30px;
  color: #9c9c9c;
}
footer .about dl {
  width: 18%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
footer .about dl dt {
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}
footer .about .contract dt {
  font-size: 22px;
}
footer .about .contract .contract-button {
  background-color: #2bb404;
  color: #fff;
  padding: 4px 8px;
}
/* 登录注册等 */
#login,
#register,
#getPassword,
#getPasswordSuccess {
  width: 479px;
  margin: 50px auto;
  padding: 0 35px;
  background-color: #fff;
}
#login .top span,
#register .top span,
#getPassword .top span,
#getPasswordSuccess .top span {
  line-height: 66px;
  font-size: 23px;
  color: #666;
}
#login form,
#register form,
#getPassword form,
#getPasswordSuccess form {
  color: #9c9c9c;
}
#login form input[type="text"],
#register form input[type="text"],
#getPassword form input[type="text"],
#getPasswordSuccess form input[type="text"] {
  width: 100%;
  height: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ededed;
  margin: 10px auto;
  padding-left: 20px;
}
#login form .login-btn,
#register form .login-btn,
#getPassword form .login-btn,
#getPasswordSuccess form .login-btn {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #2bb404;
  color: #fff;
  font-size: 22px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 20px 0;
}
#login form .code input[type="text"],
#register form .code input[type="text"],
#getPassword form .code input[type="text"],
#getPasswordSuccess form .code input[type="text"] {
  width: 42%;
}
#login form .code input[type="button"],
#register form .code input[type="button"],
#getPassword form .code input[type="button"],
#getPasswordSuccess form .code input[type="button"] {
  display: block;
  width: 52%;
  height: 60px;
  margin: 10px auto;
  border: 1px solid #2bb404;
  background: none;
  color: #2bb404;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#login form .icon-ok,
#register form .icon-ok,
#getPassword form .icon-ok,
#getPasswordSuccess form .icon-ok {
  font-size: 48px;
  line-height: 80px;
  color: #2bb404;
}
#login .login-by-phone,
#register .login-by-phone,
#getPassword .login-by-phone,
#getPasswordSuccess .login-by-phone {
  position: relative;
}
#login .login-by-phone input[type="button"],
#register .login-by-phone input[type="button"],
#getPassword .login-by-phone input[type="button"],
#getPasswordSuccess .login-by-phone input[type="button"] {
  position: absolute;
  top: 32px;
  right: 18px;
  border: none;
  background: none;
  color: #2bb404;
  cursor: pointer;
}
#login .other-way,
#register .other-way,
#getPassword .other-way,
#getPasswordSuccess .other-way {
  margin: 30px 0;
}
#login .other-way a,
#register .other-way a,
#getPassword .other-way a,
#getPasswordSuccess .other-way a {
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin: 0 5px;
  text-align: center;
  border: 1px solid #2bb404;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#login .other-way a i,
#register .other-way a i,
#getPassword .other-way a i,
#getPasswordSuccess .other-way a i {
  font-size: 32px;
  color: #2bb404;
}
#login .other-way a:hover,
#register .other-way a:hover,
#getPassword .other-way a:hover,
#getPasswordSuccess .other-way a:hover {
  border-color: #fff;
  background-color: #2bb404;
}
#login .other-way a:hover i,
#register .other-way a:hover i,
#getPassword .other-way a:hover i,
#getPasswordSuccess .other-way a:hover i {
  color: #fff;
}
#login .other-way a.wechat,
#register .other-way a.wechat,
#getPassword .other-way a.wechat,
#getPasswordSuccess .other-way a.wechat {
  border-color: #00a0e9;
}
#login .other-way a.wechat i,
#register .other-way a.wechat i,
#getPassword .other-way a.wechat i,
#getPasswordSuccess .other-way a.wechat i {
  color: #00a0e9;
}
#login .other-way a.wechat:hover,
#register .other-way a.wechat:hover,
#getPassword .other-way a.wechat:hover,
#getPasswordSuccess .other-way a.wechat:hover {
  border-color: #fff;
  background-color: #00a0e9;
}
#login .other-way a.wechat:hover i,
#register .other-way a.wechat:hover i,
#getPassword .other-way a.wechat:hover i,
#getPasswordSuccess .other-way a.wechat:hover i {
  color: #fff;
}
#order-one,
#order-two {
  width: 479px;
  margin: 0 auto;
  background-color: #fff;
  border-top: 10px solid #2bb404;
  color: #9c9c9c;
}
#order-one .imp,
#order-two .imp {
  position: relative;
  top: 3px;
  color: red;
  margin-right: 4px;
}
#order-one .title,
#order-two .title {
  border-bottom: 1px solid #ededed;
}
#order-one .content,
#order-two .content {
  padding: 0 35px;
}
#order-one .content input[type="text"],
#order-two .content input[type="text"] {
  width: 100%;
  height: 50px;
  border: 1px solid #ededed;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding-left: 10px;
}
#order-one .content textarea,
#order-two .content textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ededed;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 10px;
}
#order-one .content .code input[type="text"],
#order-two .content .code input[type="text"] {
  width: 60%;
}
#order-one .content .code input[type="button"],
#order-two .content .code input[type="button"] {
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #2bb404;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#order-one .content .submit,
#order-two .content .submit {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #2bb404;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#order-one .content .contract,
#order-two .content .contract {
  width: 200px;
  margin: 0 auto 20px;
}
#order-one .content .contract .icon-tel,
#order-two .content .contract .icon-tel {
  margin-right: 10px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #ff9d12;
  border: 1px solid #ff9d12;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
#order-one .content .contract .tel-div,
#order-two .content .contract .tel-div {
  color: #ff9d12;
  line-height: 18px;
}
#img-box-one {
  width: 952px;
  height: 380px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
}
#img-box-one .big-img img {
  width: 542px;
  height: 303px;
  margin-top: 6px;
}
#img-box-one .small-img {
  width: 342px;
}
#img-box-one .small-img .top {
  border-bottom: 2px solid #ededed;
}
#img-box-one .small-img .top a {
  margin-right: 30px;
  padding: 7px 10px;
}
#img-box-one .small-img .top a.active {
  border-bottom: 2px solid #2bb404;
  color: #2bb404;
}
#img-box-one .small-img .nav {
  margin-bottom: 8px;
}
#img-box-one .small-img .nav li {
  float: left;
  color: #2bb404;
  margin-top: 10px;
  padding: 10px 8px;
}
#img-box-one .small-img .nav li.active {
  background-color: #2bb404;
  color: #fff;
}
#img-box-one .small-img .nav li.active a {
  color: #fff;
}
#img-box-one .small-img .img-list {
  height: 258px;
  overflow-y: scroll;
}
#img-box-one .small-img .img-list li {
  float: left;
  position: relative;
  width: 103px;
  height: 82px;
  margin: 0 8px 4px 0;
}
#img-box-one .small-img .img-list li:nth-child(3n) {
  margin-right: 0;
}
#img-box-one .small-img .img-list li img {
  display: block;
  width: 100%;
  height: 100%;
}
#img-box-one .small-img .img-list li .content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
}
#img-box-one .small-img .img-list li.active {
  border: 2px solid #2bb404;
}
#img-box-two {
  padding: 20px;
  width: 980px;
  height: 380px;
  margin-bottom: 20px;
}
#img-box-two .big-img {
  width: 542px;
  height: 303px;
}
#img-box-two .small-img {
  width: 384px;
  height: 303px;
}
#img-box-two .small-img li {
  width: 120px;
  height: 98px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
#img-box-two .small-img li:nth-child(3n) {
  margin-right: 0;
}
#img-box-two .small-img li img {
  width: 100%;
  height: 100%;
}
#img-box-two .small-img li.active {
  border: 2px solid #2bb404;
}
body {
  color: #666;
}
/* 面包屑导航 */
.bread-crumb {
  line-height: 88px;
}
.bread-crumb li {
  float: left;
}
/* 搜索区域 */
.search-section {
  height: 78px;
  line-height: 78px;
  margin-bottom: 12px;
  padding: 0 28px;
  background-color: #fbfbfb;
  border: 1px solid #ededed;
}
.search-section .search-area {
  float: left;
  font-size: 16px;
}
.search-section .search-area span {
  margin: 0 6px;
}
.search-section .search-area select,
.search-section .search-area input {
  width: 252px;
  height: 46px;
  margin: 0 10px;
  padding: 0 10px;
  border: 1px solid #ededed;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.search-section .search-button {
  display: inline-block;
  float: right;
  width: 130px;
  height: 40px;
  line-height: 40px;
  margin-top: 21px;
  background-color: #2bb404;
  color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  text-align: center;
  font-size: 18px;
}
/* 筛选区域 */
.filter-section {
  background-color: #fff;
  margin-bottom: 20px;
  border: 1px solid #ededed;
  line-height: 54px;
}
.filter-section .filter-area .name {
  float: left;
  text-align: center;
  width: 110px;
}
.filter-section .filter-list {
  margin-left: 110px;
}
.filter-section .filter-list li {
  float: left;
  margin-right: 15px;
}
.filter-section .filter-list li a {
  padding: 0 4px;
}
.filter-section .filter-list li a.active {
  background-color: #2bb404;
  color: #fff;
}
.filter-section .splitLine {
  width: 90%;
  margin: 10px auto 0;
  border: none;
  border-top: 1px solid #ededed;
}
.filter-section .filter-result {
  padding: 0 20px;
  font-size: 16px;
}
.filter-section .filter-result strong {
  margin-right: 10px;
}
.filter-section .filter-result li {
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #2bb404;
  background-color: #d5faca;
  margin: 10px;
  padding: 0 4px;
  color: #2bb404;
}
/* 预定列表主区 */
.order-list .list-box {
  width: 806px;
}
.order-list .list-box .list-box-nav {
  line-height: 42px;
  border: 1px solid #ededed;
  background-color: #fff;
  padding-right: 15px;
  margin-bottom: 15px;
}
.order-list .list-box .list-box-nav .filter li {
  float: left;
  text-align: center;
  width: 80px;
  border-right: 1px solid #ededed;
}
.order-list .list-box .list-box-nav .filter .price {
  position: relative;
}
.order-list .list-box .list-box-nav .filter .price .down {
  position: absolute;
  top: 23px;
  right: 10px;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: #898a8a transparent transparent transparent;
  cursor: pointer;
}
.order-list .list-box .list-box-nav .filter .price .down.active {
  border-top-color: #2bb404;
}
.order-list .list-box .list-box-nav .filter .price .up {
  position: absolute;
  bottom: 23px;
  right: 10px;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #898a8a transparent;
  cursor: pointer;
}
.order-list .list-box .list-box-nav .filter .price .up.active {
  border-bottom-color: #2bb404;
}
.order-list .list-box .list-box-nav .choose li {
  float: left;
}
.order-list .list-box .list-box-nav .choose li label {
  cursor: pointer;
}
.order-list .list-box .list-box-nav .choose li input {
  margin: 0 5px;
}
.order-list .list-box .order-listing > ul > li {
  height: 173px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ededed;
  cursor: pointer;
}
.order-list .list-box .order-listing > ul > li img {
  width: 260px;
  height: 171px;
  margin-right: 22px;
}
.order-list .list-box .order-listing > ul > li:hover {
  border: 1px solid #ff9d12;
}
.order-list .list-box .order-listing > ul > li:hover .title {
  color: #ff9d12;
}
.order-list .list-box .order-listing .pagination ul > li {
  float: left;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #ededed;
  margin-right: 10px;
  background-color: #fff;
}
.order-list .list-box .order-listing .pagination ul > li a {
  display: block;
  width: 100%;
  height: 100%;
}
.order-list .list-box .order-listing .pagination ul > li.next {
  width: 65px;
}
.order-list .list-box .order-listing .pagination span {
  display: inline-block;
  height: 35px;
  line-height: 35px;
}
.order-list .list-box .order-listing .pagination span input {
  width: 35px;
  height: 35px;
  padding-left: 8px;
  margin: 0 4px;
}
.order-list .list-box .order-listing .pagination .sure {
  display: inline-block;
  width: 65px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #ededed;
  background-color: #fff;
  margin-left: 10px;
}
.order-list .list-box .order-listing-box {
  width: 348px;
}
.order-list .list-box .order-listing-box .water {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 17px;
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  margin-right: 6px;
  color: #fff;
  background-image: url('../img/water.gif');
}
.order-list .list-box .order-listing-box .address {
  display: inline-block;
  width: 283px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-list .list-box .order-listing-box .label li {
  float: left;
  border: 1px solid #ff9d12;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: 4px;
  color: #ff9d12;
  padding: 4px 6px;
}
.order-list .list-box .order-listing-box .label li.active {
  background-color: #ff9d12;
  color: #fff;
}
.order-list .list-box .order-listing-box .tips {
  width: 348px;
}
.order-list .list-box .order-listing-box .tips li {
  float: left;
  color: #2bb404;
  line-height: 30px;
  margin-right: 4px;
  font-size: 12px;
}
.order-list .list-box .price-box {
  width: 172px;
  text-align: center;
}
.order-list .list-box .price-box .price {
  line-height: 48px;
}
.order-list .list-box .price-box .price > span {
  font-size: 32px;
}
.order-list .list-box .price-box .detail-button {
  font-size: 16px;
  padding: 6px 12px;
  background-color: #ff9d12;
  color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.order-list .recommend-box {
  width: 376px;
}
.order-list .recommend-box .recommend-top {
  border: 1px solid #ededed;
  background-color: #fff;
  overflow: hidden;
}
.order-list .recommend-box .recommend-top .p20 {
  padding: 0 20px;
}
.order-list .recommend-box .recommend-top .head {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 10px auto;
}
.order-list .recommend-box .recommend-top .splitLine {
  width: 100%;
  height: 1px;
  background-color: #ededed;
  margin: 15px 0;
}
.order-list .recommend-box .recommend-top .info-list li {
  float: left;
  text-align: center;
  width: 50%;
  line-height: 40px;
  color: #9c9c9c;
}
.order-list .recommend-box .recommend-top .info-list li .iconfont {
  position: relative;
  top: 5px;
  left: -4px;
  font-size: 30px;
}
.order-list .recommend-box .recommend-top .font {
  text-align: center;
  margin-bottom: 20px;
}
.order-list .recommend-box .recommend-top .font > span {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border: 1px solid #2bb404;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 15px;
  cursor: pointer;
}
.order-list .recommend-box .recommend-top .font > span p {
  line-height: 20px;
}
.order-list .recommend-box .recommend-top .font .tel:hover {
  background-color: #2bb404;
}
.order-list .recommend-box .recommend-top .font .tel:hover .icon-tel {
  color: #fff;
}
.order-list .recommend-box .recommend-top .font .consult {
  border: 1px solid #ff9d12;
}
.order-list .recommend-box .recommend-top .font .consult:hover {
  background-color: #ff9d12;
}
.order-list .recommend-box .recommend-top .font .consult:hover .icon-consult {
  color: #fff;
}
.order-list .recommend-box .recommend-top .font .icon-tel {
  font-size: 32px;
  color: #2bb404;
}
.order-list .recommend-box .recommend-top .font .icon-consult {
  font-size: 32px;
  color: #ff9d12;
}
.order-list .recommend-box .recommend-top .bottom-tel {
  height: 80px;
  padding: 20px 0;
  background-color: #2bb404;
  text-align: center;
  color: #fff;
}
.order-list .recommend-box .recommend-list {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ededed;
}
.order-list .recommend-box .recommend-list .title {
  margin-bottom: 20px;
}
.order-list .recommend-box .recommend-list .recommend-listing {
  margin-bottom: 20px;
}
.order-list .recommend-box .recommend-list .recommend-listing img {
  width: 100%;
  height: 194px;
}
